<!DOCTYPE html>
<html>
<head>
    <title>daftarsiswa</title>
    <link rel="stylesheet" href="/public/Style/guru/daftarsiswa.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    
</head>
<body>
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menuguru">Sekolah Dasar Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/daftarsiswa">Daftar Siswa</a>
                <a id="link1" href="/infoguru">Informasi Guru</a>
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h1>Daftar Siswa</h1><br>  
        </div>

        <form action="/action_page.php">
        <label for="perioda" style="color: black; margin-left: 50px; font-size: 25px;"></label>
        <select name="perioda" id="perioda">
            <option value="1">Periode 1</option>
            <option value="2">Periode 2</option>
            <option value="3">Periode 3</option>
        </select>
        <br><br><br>
        <table>
            <tr>
                <th>Nama Siswa</th>
                <th>NIS</th>
                <th>Status PTMT</th>
                <th>Periode</th>
                <th>Kelas</th>
            </tr>
            <% for(const row of resinfo) {%>
                <tr>
                <td><% row.nama_siswa %></td>
                <td>252352</td>
                <td>Ya</td>
                <td>1</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Boni</td>
                <td>252353</td>
                <td>Ya</td>
                <td>1</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Dito</td>
                <td>252354</td>
                <td>Ya</td>
                <td>1</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Windah</td>
                <td>252355</td>
                <td>Ya</td>
                <td>1</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Beni</td>
                <td>252356</td>
                <td>Ya</td>
                <td>1</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Ruben</td>
                <td>252357</td>
                <td>Ya</td>
                <td>1</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Steven</td>
                <td>252358</td>
                <td>Ya</td>
                <td>1</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Rudi</td>
                <td>252359</td>
                <td>Ya</td>
                <td>1</td>
                <td>A</td>
            </tr>
           <% } %>
        </table>
</body>
</html>