<!DOCTYPE html>
<html>
<head>
    <title>infoguru</title>
    <link rel="stylesheet" href="/public/Style/daftarsiswa.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    
</head>
<body>
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menu">Sekolah Dasar Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/periode">Daftar Siswa</a>
                <a id="link1" href="/periode">Informasi Guru</a>
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h1>Informasi Guru</h1><br>  
        </div>

        <form>
        <table>
            <tr>
                <th>Nama Guru</th>
                <th>NIP</th>
                <th>Mata Pelajaran</th>
                <th>Status PTMT</th>
                <th>Mengajar Kelas</th>
            </tr>
            <tr>
                <td>Rudy</td>
                <td>252352</td>
                <td>Agama</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Ricko</td>
                <td>252353</td>
                <td>Pendidikan Kewernegaraan</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Yanti</td>
                <td>252354</td>
                <td>Bahasa Indonesia</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Anah</td>
                <td>252355</td>
                <td>Matematika</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Seli</td>
                <td>252356</td>
                <td>IPA</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Ruben</td>
                <td>252357</td>
                <td>IPS</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Asep</td>
                <td>252358</td>
                <td>Seni Budaya</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Bagus</td>
                <td>252359</td>
                <td>Olahraga</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
            <tr>
                <td>Steven</td>
                <td>252359</td>
                <td>Bahasa Inggris</td>
                <td>YA</td>
                <td>SEMUA KELAS</td>
            </tr>
           
        </table>
    </form>
</body>
</html>