<!DOCTYPE html>
<html>
<head>
    <title>menu</title>
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Style/guru/menuguru.css">
    <script src="/public/JS/guru/menuguru.js"></script>
</head>
<body>
    <div class="header">
            <div class="peteemte">
                <a id="home" href="/menuguru">PeTeEmTe SD Smarty</a>
            </div>
            <div class="tooltip">
                <a href="/" class="fa fa-power-off fa-3x logout"></a>
                <span class="tooltiptext">Logout</span>
            </div>
    </div>
        <div class="background_menu">
            <div class="category">
                <button type="button" id="btn2"><i id="icon2" class="fa fa-id-card-o fa-5x"aria-hidden="true" onclick="goTodaftarsiswa()"></i><br>Daftar Siswa</button>
                <button type="button" id="btn2"><i id="icon1" class="fa fa-list-ol fa-5x" aria-hidden="true" onclick="goToinfoguru()"></i><br>Informasi Guru</button>
                
            </div>
        </div>
</body>
</html>