<!DOCTYPE html>
<html>
<head>
    <title>dataguru</title>
    <link rel="stylesheet" href="/public/Style/admin/dataguru.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
    <div class="header">
            <div class="peteemte">
                <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
            </div>

            <div class="tooltip">
                <a href="/" class="fa fa-power-off fa-3x logout"></a>
                <span class="tooltiptext">Logout</span>
            </div>

            <div class="head_link">
                <a id="link1" href="/periode">Periode PTMT</a>
                <a id="link2" href="/dataMurid">Data Murid</a>
                <a id="link3" href="/dataGuru">Submit Data</a>
                <a id="link4" href="/daftarHadir">Daftar Kehadiran</a>
            </div> 
            
    </div>
       
        <div class="judul">
        <div class="title">
        <h1>Data Guru</h1>
        </div>
        <form action="/guru" method="post">
        <div class="data">
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Nomor Induk Pegawai:<td style="padding-bottom: 10px;"><input type="text" name="Fname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Nama Guru:<td style="padding-bottom: 10px;"><input type="text" name="Lname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Email Guru:<td style="padding-bottom: 10px;"><input type="text" name="email" /></label></td></td></tr>            
            <tr><td style="padding-bottom: 10px;"><label>Kelas:<td style="padding-bottom: 10px;"><input type="text" name="kelas" ></td></label></td></tr>
        </table>
        <div class="generate">
            <button type="submit" id="btn_generate" value="Submit">Submit</button>
        </div>
        </div>  
        

        <div class="judul1">    
        <h1>Data Kepala Sekolah</h1>
        
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Nama Kepala Sekolah:<td style="padding-bottom: 10px;"><input type="text" name="Fname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Username:<td style="padding-bottom: 10px;"><input type="text" name="Lname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Password:<td style="padding-bottom: 10px;"><input type="text" name="email" /></label></td></td></tr>            
            
        </table>
        <div class="generate">
            <button type="submit" id="btn_generate" value="Submit">Submit</button>
        </div>
        </div>  
        

        <div class="judul2">
        <h1>Data Satpam</h1>
        
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Nama Satpam:<td style="padding-bottom: 10px;"><input type="text" name="Fname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Username:<td style="padding-bottom: 10px;"><input type="text" name="Lname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Password:<td style="padding-bottom: 10px;"><input type="text" name="email" /></label></td></td></tr>            
            
        </table>
        <div class="generate">
            <button type="submit" id="btn_generate" value="Submit">Submit</button>
        </div>
        </div>  
        </form>


</body>
</html>