<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
	<link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Style/menu.css">
    <script src="/public/JS/menu.js"></script>
</head>
<body>
	<div class="header">
            <div class="peteemte">
                <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
            </div>
            <div class="tooltip">
                <a href="/loginpage" class="fa fa-power-off fa-3x logout"></a>
                <span class="tooltiptext">Logout</span>
            </div>
    </div>
        <div class="background_menu">
            <div class="category">
                <button type="button" id="btn1"><i id="icon1" class="fa fa-list-ol fa-5x" aria-hidden="true" onclick="goToPeriode()"></i><br>Daftar Periode PTMT</button>
                <button type="button" id="btn2"><i id="icon2" class="fa fa-id-card-o fa-5x"aria-hidden="true" onclick="goToMurid()"></i><br>Data Siswa</button>
                <button type="button" id="btn3"><i id="icon3" class="fa fa-id-card fa-5x"aria-hidden="true" onclick="goToGuru()"></i><br>Data Guru</button>
                <button type="button" id="btn4"><i id="icon4" class="fa fa-calendar fa-5x" aria-hidden="true" onclick="goToHadir()"></i><br>Daftar Kehadiran</button>
            </div>
        </div>
</body>
</html>