<div class="topnav">
    <a href="../Page/katalog.html" id="title">Bookholic</a>
    <input id="search_input" type="text" placeholder="Search by title / author / ISBN here..">
    <button type="button" onclick="searchButton()"><i class="fa fa-search"></i></button>
    <a href="../Page/katalog.html" id="catalogue_btn"> Catalogue</a>
    <a href="../Page/FAQ.html" id="faq">FAQ</a> 
    <div class="tooltip">
        <a href="../Page/halaman login.html" class="fa fa-power-off logout"></a>
        <span class="tooltiptext">Logout</span>
    </div>
    
    <a href="../Page/cart.html"><i class="fa fa-shopping-cart cart"></i></a>
    <a href="../Page/profil.html" id="profil">Hi, user</a>
    <a href="../Page/profil.html"><i class="fa fa-user user"></i></a> 
</div>