<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
	 <link rel="stylesheet" href="/public/Style/menu.css">
</head>
<body>
	<div class="header">
            <div class="peteemte">
                PeTeEmTe SD Smarty
            </div>
            <div class="head_link">
                <a id="link1" href="/views/Admin/periode.ejs">Periode PTMT</a>
                <a id="link2" href="/views/Admin/dataMurid.ejs">Data Murid</a>
                <a id="link3" href="/views/Admin/dataGuru.ejs">Data Guru</a>
                <a id="link4" href="/views/Admin/daftarHadir.ejs">Daftar Kehadiran</a>
            </div>
        </div>
        <div class="background_menu">
            
            </div>
        </div>
</body>
</html>