<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
	<link rel="stylesheet" href="/public/Style/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Style/menu.css">
</head>
<body>
	<div class="header">
            <div class="peteemte">
                <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
            </div>
    </div>
        <div class="background_menu">
            <div class="sorting_category">
                <button type="button" id="btn1">Daftar Periode PTMT</button>
                <button type="button" id="btn2">Data Siswa</button>
                <button type="button" id="btn3">Data Guru</button>
                <button type="button" id="btn4">Daftar Kehadiran</button>
            </div>
        </div>
</body>
</html>