<!DOCTYPE html>
<html>
<head>
    <title>periode</title>
    <link rel="stylesheet" href="/public/Style/periode.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/periode">Periode PTMT</a>
                <a id="link2" href="/dataMurid">Data Murid</a>
                <a id="link3" href="/dataGuru">Data Guru</a>
                <a id="link4" href="/daftarHadir">Daftar Kehadiran</a>
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h3>Kapasitas Ruangan</h3>
        </div>

        <form action="/action_page.php">
        <label for="cars" style="color: black; margin-left: 50px; font-size: 18px;">Pilih Ruang:</label>
        <select name="cars" id="cars">
            <option value="volvo">Ruang A</option>
            <option value="saab">Ruang B</option>
            <option value="opel">Ruang C</option>
        </select>
        <br>

        <div class="periode">
        <h3>Periode</h3>
        </div>

        <div class="data">
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Nama Perioda:<td style="padding-bottom: 10px;"><input type="text" name="Fname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Mulai:<td style="padding-bottom: 10px;"><input type="date" name="mulai"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Berakhir:<td style="padding-bottom: 10px;"><input type="date" name="akhir" ></td></label></td></tr>
        </table>
    </div>
    <br>
            
        
        <div class="ptmt">
        <h3>PTMT</h3>
        </div>

        <div class="data2">
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Nama Perioda:<td style="padding-bottom: 10px;"><input type="text" name="Fname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Awal Pendaftaran:<td style="padding-bottom: 10px;"><input type="date" name="Adaftar"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Akhir Pendaftaran:<td style="padding-bottom: 10px;"><input type="date" name="akhirpendaftaran" ></td></label></td></tr>
            
        </table>
        <div class="generate">
            <button type="button" id="btn_generate" onclick="goTo()">Submit</button>
        </div>
        </div>  
        <br>
</body>
</html>