<!DOCTYPE html>
<html>
<head>
    <title>periode</title>
    <link rel="stylesheet" href="/public/Style/admin/periode.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/periode">Periode PTMT</a>
                <a id="link2" href="/dataMurid">Data Murid</a>
                <a id="link3" href="/dataGuru">Submit Data</a>
                <a id="link4" href="/daftarHadir">Daftar Kehadiran</a>
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h2>Kapasitas Ruangan</h2>
        </div>
        <div class="Ruangan">
        <form action="/periode" method="post">
        <label for="cars" style="color: black; margin-left: 50px; font-size: 18px;">Pilih Ruang:</label>
        <select style="margin-left:80px;" name="avail" id="ruangan">
            <option name="ruang">Ruang A</option>
            <option name="ruang">Ruang B</option>
            <option name="ruang">Ruang C</option>
        </select>
        <input type="text" placeholder="Jumlah" id="inputruang" name="jumlah">
    </div>
        <br>

        <div class="periode">
        <h2>Periode</h2>
        </div>

        <div class="data">
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Nama Perioda:<td style="padding-bottom: 10px;"><input type="text" style="margin-left:50px;" name="Fname" required></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Mulai:<td style="padding-bottom: 10px;"><input type="date" style="margin-left:50px;" name="mulai"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Berakhir:<td style="padding-bottom: 10px;"><input type="date" style="margin-left:50px;" name="akhir" ></td></label></td></tr>
        </table>
    </div>
    <br>
            
        
        <div class="ptmt">
        <h2>PTMT</h2>
        </div>

        <div class="data2">
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Nama Perioda:<td style="padding-bottom: 10px;"><input type="text" style="margin-left:17px;" name="Fname2" required></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Awal Pendaftaran:<td style="padding-bottom: 10px;"><input type="date" style="margin-left:17px;" name="Mdaftar"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Akhir Pendaftaran:<td style="padding-bottom: 10px;"><input type="date" style="margin-left:17px;" name="Adaftar" ></td></label></td></tr>
            
        </table>
        <div class="generate">
            <button type="submit" id="btn_generate" value="Submit">Submit</button>
        </div>
        </div>  
        <br>
        </form>
</body>
</html>