<!DOCTYPE html>
<html>
<head>
    <title>grafiktrendptmt2</title>
    <link rel="stylesheet" href="/public/Style/kepala sekolah/grafiktrendptmt2.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/public/JS/kepsek/grafiktrendptmt.js"></script>    
</head>
<body>
    
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menukepsek">Sekolah Dasar Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/grafiktrendptmt">Grafik Trend PTMT</a>
                <a id="link1" href="/laporan">Rekapitulasi Laporan</a>
            </div>
            <h3 id="nama"><%= nama %></h3>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h1>Grafik Trend PTMT</h1><br>  
        </div>
        <label for="perioda" style="color: black; margin-left: 50px; font-size: 25px;"></label>
        <select name="perioda" id="perioda">
            <option href="1">Periode 1</option>
            <option value="2">Periode 2</option>
            <option value="3">Periode 3</option>
        </select>
        <form action="/action_page.php">
            <p id="judul1">Grafik Trend PTMT SISWA</p>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <p id="judul2">Grafik Trend PTMT GURU</p>
            <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
            <script >
                const ctx = document.getElementById('myChart');
                const ctx2 = document.getElementById('myChart2');

                const myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: ['1A', '1B', '1C', '2A', '2B', '2C','3A', '3B', '3C', '4A', '4B', '4C','5A', '5B', '5C', '6A', '6B', '6C'],
                    datasets: [{
                      label: 'total',
                      data: [5, 6, 5, 4, 6, 3, 5, 5, 6, 5, 4, 4, 3, 5, 4, 6, 7, 6],
                      backgroundColor: ['Red', 'Green', 'Blue', 'Orange', 'brown', 'Yellow', 'Red', 'Green', 'Blue', 'Orange', 'brown', 'Yellow', 'Red', 'Green', 'Blue', 'Orange', 'brown', 'Yellow'],
                      fill: true,
                      borderWidth: 1,
                    }]
                  },
                });

                const myChart2 = new Chart(ctx2, {
                  type: 'bar',
                  data: {
                    labels: ['Jumlah Guru Hadir', 'Jumlah Guru Yang Tidak Hadir'],
                    datasets: [{
                      label: 'total',
                      data: [8,0],
                      backgroundColor: ['Blue'],
                      fill: true,
                      borderWidth: 1,
                    }]
                  },
                });            

            </script>

        </form>
        
</body>
</html>