<!DOCTYPE html>
<html>
<head>
    <title>laporan</title>
    <link rel="stylesheet" href="/public/Style/kepala sekolah/laporan.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    
</head>
<body>
    
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menu">Sekolah Dasar Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/periode">Grafik Trend PTMT</a>
                <a id="link1" href="/periode">Rekapitulasi Laporan</a>
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h1>Rekapitulasi Laporan</h1><br>  
        </div>

        <form action="/action_page.php">
        <label for="perioda" style="color: black; margin-left: 50px; font-size: 25px;"></label>
        <select name="perioda" id="perioda">
            <option value="1">Periode 1</option>
            <option value="2">Periode 2</option>
            <option value="3">Periode 3</option>
        </select>
        <br><br><br>
        <table>
            <tr>
                <th></th>
                <th>1A</th>
                <th>1B</th>
                <th>1C</th>
                <th>2A</th>
                <th>2B</th>
                <th>2C</th>
                <th>3A</th>
                <th>3B</th>
                <th>3C</th>
                <th>4A</th>
                <th>4B</th>
                <th>4C</th>
                <th>5A</th>
                <th>5B</th>
                <th>5C</th>
                <th>6A</th>
                <th>6B</th>
                <th>6C</th>
            </tr>
            <tr>
                <td>Jumlah Murid</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
                <td>4</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>3</td>
                <td>2</td>
                <td>4</td>
                <td>5</td>
                <td>4</td>
            </tr>
            
        </table>

        </select>
        <br><br><br>
        <table>
            <tr>
                <th>Nama guru</th>
                <th>Mata Pelajaran</th>
                <th>Hybrid</th>
                
            </tr>
            <tr>
                <td>Rudy</td>
                <td>Agama</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Ricko</td>
                <td>Pendidikan Kewernegaraan</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Yanti</td>
                <td>Bahasa Indonesia</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Anah</td>
                <td>Matematika</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Seli</td>
                <td>IPA</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Ruben</td>
                <td>IPS</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Asep</td>
                <td>Seni Budaya</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Bagus</td>
                <td>Olahraga</td>
                <td>✓</td>
                
            </tr>
            <tr>
                <td>Steven</td>
                <td>Bahasa Inggris</td>
                <td>✓</td>
                
            </tr>
            
        </table>
</body>
</html>