<!DOCTYPE html>
<html>
<head>
    <title>menu</title>
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Style/kepala sekolah/menukepsek.css">
    <script src="/public/JS/menuguru.js"></script>
</head>
<body>
    <div class="header">
            <div class="peteemte">
                <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
            </div>
            <div class="tooltip">
                <a href="/" class="fa fa-power-off fa-3x logout"></a>
                <span class="tooltiptext">Logout</span>
            </div>
    </div>
        <div class="background_menu">
            <div class="category">
                <button type="button" id="btn1"><i id="icon1" class="fa fa-bar-chart fa-5x" aria-hidden="true" onclick="goGrafikTrendPtmt()"></i><br>Grafik Trend PTMT</button>
                <button type="button" id="btn1"><i id="icon1" class="fa fa-address-book fa-5x" aria-hidden="true" onclick="goToRekapitulasiLaporan()"></i><br>Rekapitulasi Laporan</button>
            </div>
        </div>
</body>
</html>