<!DOCTYPE html>
<html>
<head>
    <title>datasiswa</title>
    <link rel="stylesheet" href="/public/Style/siswa/statusptmt.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    
</head>
<body>
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menu">Sekolah Dasar Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/periode">Data Siswa</a>
                <a id="link2" href="/dataMurid">Perioda PTMT</a>
                <a id="link3" href="/dataGuru">Status PTMT</a>
                
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h1>Masukan Data Vaksinasi Anda</h1><br>  
        </div>

        <form action="/action_page.php">
        <label for="perioda" style="color: black; margin-left: 50px; font-size: 25px;">Vaksinasi ke:</label>
        <select name="perioda" id="perioda">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br><br><br>
        <div class="data">
            Tanggal Vaksin:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="date"><br><br>
            Scan/Foto<br>Sertifikat Vaksin:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" id="myFile" name="filename" name="Fname"><br><br><br>
            
            
        <div class="generate">
            <button type="button" id="btn_generate" onclick="goTo()">Next</button>
        </div>
</body>
</html>