<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dataperiodaptmt</title>
</head>
<body>
    <div class="header">
        <div class="peteemte">
            <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
        </div>

        <div class="tooltip">
            <a href="/" class="fa fa-power-off fa-3x logout"></a>
            <span class="tooltiptext">Logout</span>
        </div>

         <div class="head_link">
             <a id="link1" href="/datasiswa">Data Siswa</a>
             <a id="link2" href="/dataperiode">Perioda PTMT</a>
             <a id="link3" href="/statusptmt">Status PTMT</a>
         </div>
         </div>
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="data">
            <table>
            <tr><td style="padding-bottom: 10px;"><label>Perioda:<td style="padding-bottom: 10px;"><input type="text" name="Fname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Hari:<td style="padding-bottom: 10px;"><input type="text" name="Lname"></td></label></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Kelas:<td style="padding-bottom: 10px;"><input type="text" name="kelas" ></td></label></td></tr><tr><td style="padding-bottom: 10px;"><label>Email Guru:<td style="padding-bottom: 10px;"><input type="text" name="email" /></label></td></td></tr>
            <tr><td style="padding-bottom: 10px;"><label>Ruang:<td style="padding-bottom: 10px;"><input type="text" name="ruang" /></label></td></td></tr>
            <tr></tr>
            
        </table>
</body>
</html>