<!DOCTYPE html>
<html>
<head>
    <title>dataperiode</title>
    <link rel="stylesheet" href="/public/Style/siswa/statusptmt.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    
</head>
<body>
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menu">Sekolah Dasar Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/datasiswa">Data Siswa</a>
                <a id="link3" href="/statusptmt">Status PTMT</a>
                
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h1>Daftar Perioda PTMT Siswa</h1><br>  
        </div>
        <form>
        <label class="perioda" style="color: black; margin-left: 50px; font-size: 25px;">Perioda:</label>
        <select name="perioda" id="perioda">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br><br><br>
        <div class="isi">
            <table>
                <tr>
                    <th> Perioda PTMT : </th>
                    <th> Tanggal Mulai </th>
                    <th> Tanggal Akhir </th>
                </tr>
            <% for(const row of resstat) {%>
            <tr>
                <td><%= row.nama_periode %></td>
                <td><%= row.tanggal_mulai %></td>
                <td><%= row.tanggal_akhir %></td>
            </tr>
        <% } %>
        
            </table>
            <br>
            Ketentuan PTMT : Bagi siswa yang memiliki nomor induk siswa dengan angka akhir genap, akan hadir 
                        pada tanggal genap saja.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Begitu juga sebaliknya untuk yang memiliki angka akhir 
                        ganjil pada nomor induk siswa, akan hadir pada tanggal ganjil saja.
        </div>
        

        </form>
</body>
</html>