<!DOCTYPE html>
<html lang="en">
<head>
    <title>cekstatusptmt</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <div class="peteemte">
            <a id="home" href="/menu">Sekolah Dasar Smarty</a>
        </div>

        <div class="tooltip">
            <a href="/" class="fa fa-power-off fa-3x logout"></a>
            <span class="tooltiptext">Logout</span>
        </div>
    </div>
    <div class="background_menu"></div>
    <div>

    </div>
    <div class="judul">
        <h1>Cek Status PTMT</h1>
    </div>
    <div class="cek">
        <tr><td style="padding-bottom: 10px;"><label>Nomor Induk Siswa:<td style="padding-bottom: 10px;"><input type="text" name="Fname"></td></label></td></tr>
    </div>
    <div class="generate">
        <button type="button" id="btn_generate" onclick="goTo()">Submit</button>
    </div>
</div>
</body>
</html>