<!DOCTYPE html>
<html>
<head>
	<title>change password</title>
	 <link rel="stylesheet" href="/public/changepass.css">
</head>
<body>
	<div class="header">
            <div class="peteemte">
                PeTeEmTe SD Smarty
            </div>
        </div>
        <div class="background_login">
            <div class="kotak_login">
                <div class="ChangePassword">
                     Change Your Password
                     <br>
                 </div>
                 <p class="user_icon"></p>
                 <div class="oldPassword">
                     <input class="input_user" id="username" type="text" placeholder="Old Password">
                 </div>
                <div class="newPassword">
                     <input class="input_pass" id="pass" type="text" placeholder="New Password">
                 </div>
                 <div class="confirmPassword">
                     <input class="input_pass" id="pass" type="text" placeholder="Confirm Password">
                 </div>
                 <div class="chagePassword_button">
                    <button type="button" id="btn_Change">Change Password</button>
                 </div>
            </div>
        </div>
</body>
</html>