<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/Style/font-awesome.min.css">
        <link rel="stylesheet" href="/public/Style/login.css">
        <script src="/public/JS/login.js"></script>
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <div class="peteemte">
                PeTeEmTe SD Smarty
            </div>
        </div>
        <div class="background_login">
            <div class="kotak_login">
                <div class="Login">
                     Login Account
                     <br>
                 </div>
                 <p class="user_icon"></p>
                 <div class="username">
                     <input class="input_user" id="username" type="text" placeholder="Enter username">
                 </div>
                <div class="password">
                     <input class="input_pass" id="pass" type="text" placeholder="Enter password">
                 </div>
                 <div class="login_button">
                    <button type="button" id="btn_login" onclick="goTo()">Login</button>
                 </div>
                 <div class="change_pass">
                     <a href="/ChangePass">Change Password</a>
                 </div>
            </div>
        </div>
    </body>
</html>
