<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="/public/Style/font-awesome.min.css">
        <link rel="stylesheet" href="/public/Style/login.css">
        <script src="/public/JS/login.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="peteemte">
                PeTeEmTe SD Smarty
            </div>
        </div>
        <div class="background_login">
            <div class="kotak_login">
                <div class="Login">
                     Login Account
                     <br>
                 </div>
                 <form action="/auth" method="post">
                 <p class="user_icon"></p>
                 
                 <div class="username">
                     <input class="input_user" id="username" required type="text" placeholder="Enter username" >
                 </div>
                <div class="password">
                     <input class="input_pass" id="password" required type="password" placeholder="Enter password">
                 </div>
                 <div class="login_button">
                    <input type="submit" id="btn_login" value="Login"></button>
                 </div>
                 <div class="change_pass">
                     <a href="/ChangePass">Change Password</a>
                 </div>
                </form>
            </div>
        </div>
    </body>
</html>
